@import 'shared/header';
@import 'shared/fonts';

$text-color: #444;
$blue-color: #019ade;

.post-title.aba-title {
  color: $blue-color;
  cursor: pointer;
  font-family: 'MuseoSlab700Regular', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 22px;

  &:hover { color: #00008b; }
}

.custom-avatar {
  text-align: center;
  .avatar { margin: 0 auto; }
  .badge {
    background: $blue-color;
    border-radius: 2px;
    color: #fff;
    margin-top: -15px;
    position: relative;
    z-index: 11;
  }
}

h3.post-heading { margin-top: 0; }

.post-heading {
  .post-meta-item {
    color: #b3c1c6;
    display: block;
    font-size: 12px;
  }
}

.post-content {
  vertical-align: top;
}

.post-commenters {
  display: inline-block;
  line-height: 0;
  margin-right: 5px;
  position: relative;
  top: 7px;

  .avatar {
    display: inline-block;
    position: relative;
  }
}

.post-meta {
  a.post-category {
    background: transparent;
    border: solid $text-color 1px;
    border-radius: 10px;
    font-size: 8px;
    padding: 3px 5px 2px;
    color: #000;
    margin-right: 5px;

    &:hover {
      background: $blue-color;
      color: #fff;
      text-decoration: none;
    }
  }
}
