@import 'vars';

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(//themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
  font-family: "MuseoSlab700Regular";
  font-style: normal;
  font-weight: normal;
  src: url("/MuseoSlab700Regular.eot");
  src: url("/MuseoSlab700Regular.eot?#iefix") format("embedded-opentype"),
  url("/MuseoSlab700Regular.woff") format("woff"),
  url("/MuseoSlab700Regular.ttf") format("truetype");
}