
.header {
  background-color: #fff;
  box-shadow: 1px 0 5px rgba(225, 225, 225, 0.6);
  color: #444;
}

.top-nav .header {
  height: 100px;
  padding: 0 20px;
  margin-bottom: 10px;
  *zoom: 1;

  .btn.btn-primary {
    color: #fff;
  }

  .mobile-menu-button {
    background: none;
    border: none;
  }
}

.logo.logo-image img {
  height: 80px;
  width: auto;
  margin: 10px auto;
}

h1.logo.header-module {
  margin-top: 0;
}

.search .search-field {
  box-shadow: inset 0 0 1px 1px rgba(225, 225, 225, 0.6);
}
