/* Variables */
$menu_text_color: #C7CBCE;
$content_color: #45555f;
$text_highlight: #1998d4;
$blue_black: #384049;

$assets-path: '../..';

$red: #9c0034;
$orange: #e16201;
$blue: #07BAE4;
$error: #CC1616;
