<template name="aba-post-avatars">
  {{#if commenters}}
    <div class="post-commenters">
    {{#each commenters}}
      {{> avatar userId=this size="small" shape="circle"}}
    {{/each}}
    </div>
  {{/if}}
</template>
